In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
mydata = pd.read_csv(r"D:\DaneshSara Statistics\Excercise Files\Data.csv")

In [3]:
mydata

  Category  Frequency
0    Shoes        124
1     Hats        113
2   Gloves         98
3    Pants         52